{% load static %}

</html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html>
    <div class="fixed-header">
            <div class="container">
                Raffle Bot 
            </div>
        </div>    
    <body>

        <div id="wrapper">
            <div id="leftcol">
                <a class="twitter-timeline" data-width="520" data-height="600" href="https://twitter.com/hashtag/hacku5" data-widget-id="832329861242961920">#hacku5 Tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div id="rightcol">
                <button id="btnChooseWinner" type="button" class="btn btn-success">Choose Winner</button>
                {% for user in raffle %}

                {% endfor %}
            </div>
        </div>
        <div id="dialog" title="Dialog Title"> 
            <a id="dialog_close" href="#"> x </a>
            <h1> Winner!</h1> 
            <h3> </h3>

        </div>
        <input name="searchTxt" type="text" maxlength="512" id="searchTxt" class="searchField"/>
        <script>
            var input = document.getElementById("searchTxt");

        function searchURL() {
            window.location = "http://www.myurl.com/search/" + input.value;
        }
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#btnChooseWinner').click(function () {
                    $.ajax({
                        url: '/choose',
                        success: function (data) {
                            //alert(data.winner);
                            $("#dialog h3").text(data.winner);
                            $("#dialog").show();
                        },
                        error: function(data) {
                            if (data.responseText.search("IndexError") != -1) {
                                alert("No new raffle entries.");
                            }
                        }
                    });
                });
                $("#dialog_close").click(function (event) {
                    event.preventDefault();
                    $("#dialog").hide();
                });
            });
        </script>
    </body>
</html>