{% load static %}

</html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html>
    <div class="fixed-header">
            <div class="container">
                Raffle Bot 
            </div>
        </div>    
    <body>

        <div>
            <a class="twitter-timeline" data-width="520" data-height="400" href="https://twitter.com/hashtag/hacku5" data-widget-id="832329861242961920">#hacku5 Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <button id="btnChooseWinner" type="button" class="btn btn-success">Choose Winner</button>
        {% for user in raffle %}

        {% endfor %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#btnChooseWinner').click(function () {
                    $.ajax({
                        url: '/choose',
                        success: function (data) {
                            alert(data.winner);
                        }
                    });
                });
            });
        </script>
    </body>
</html>