
body{        
	padding-top: 60px;
	padding-bottom: 40px;
	margin-bottom:50px;
}
.fixed-header{
	width: 100%;
	height:120px;
	position: fixed;        
	background: #66ccff;
	color: white;
	font-size: 250%;
	opacity: 0.7;
	box-shadow: 10px 1px 5px #00264d;
}

.container{
	width: 62%;
	opacity: 1;
	text-align: left;
}
.iconHeader{
	float:left;
}
#icon{
	display: block;
	width:100px;
	height: 100px;
	margin-top: 5px;
	margin-left:100px;
	float:left;
	z-index = -1;
}

h1 { 
	color: #fff; 
	font-family: 'Righteous'; 
	font-size: 65px; 
	font-weight: normal; 
	line-height: 60px; 
	margin: 20px 0 24px 0; 
	text-transform: uppercase; 
	text-shadow: 3px 3px 0 #000;
	float:left;
}
.fixed-header{
	top: 0;
}
#wrapper{
	width:1200px;
	margin: 40px auto;
	position: relative;
	margin-top:70px;
}

#leftcol{
	width:550px;
	margin-left:50px;
	position: fixed;
	height:900px;
}

#rightcol{
	float:right;
	margin-right:50px;
	width:550px;

}


#btnClose{
	margin-left: 10px 0 0 10px;
	width: 40px;
	height: 40px;
}

#btnChooseWinner{
	margin-right: 100px;
	margin-left:150px;
	margin-top: 50px;
	border:1px solid #11151C; 
}


#dialog {
	display:none;
	position:absolute;
	padding:100px 20px;
	border:2px solid #808080;
	opacity: 40;
	border-radius:5px;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	width:400px;
	text-align:center;
	font-weight:500px;
	background-color: #fff;
 	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#dialog_close {
	position:absolute;
	font-size: 30px;
	text-shadow: 1px 0px 1px #004d99;
	right:0px;
	top:0;
}

#searchTxt{
	margin: 50px 0 50px 50px;
}


